body{
	min-width:1200px;
}
.container{
	min-width:1170px !important;
}
.mint{
	color:rgb(68,189,161);
}
.font8{
	font-size:8px;
}
.font10{
	font-size:10px;
}
.font12{
	font-size:12px;
}
.font14{
	font-size:14px;
}
.font16{
	font-size:16px;
}
.font18{
	font-size:18px;
}
.font20{
	font-size:20px;
}
#gnb{
	background-color:rgb(234,234,234);
	height:50px;
	line-height:50px;
}
.gnb_ul{
	list-style:none;
	padding:0;
	margin:0;
}
.gnb_li{
	display:inline-block;
	margin:0 20px;
}
#span_cart{
	font-size:14px;
	color:rgb(68,189,161);
}
.gnb_li .gnb_a{
	color:rgb(80,80,80);
	font-size:16px;
}
#search_form_div input{
	height:50px;
	border:4px solid rgb(68,189,161);
}
#search_form_div{
	padding:43px 0;
}
#search_form_form_group{
	width:100%;
}
#search_form_input_group{
	width:100%;
}
#search_form_input_addon{
	background-color:rgb(68,189,161);
	border:none;
	color:white;
	width:100px;
	font-size:20px;
}
#jssor_0{
	width:100%;
	height:50px;
}
.ranking{
	border:1px solid;
	width:15px;
	height:15px;
	display:inline-block;
	line-height:15px;
	text-align:center;
	color:rgb(68,189,161);
	border:1px solid rgb(68,189,161);
	font-size:12px;
}
.ranking_content{
	display:inline-block;
	font-size:12px;
	color:rgb(180,180,180);
	margin-left:5px;
}
.ranking_down{
	display:inline-block;
	font-size:12px;
	color:rgb(68,189,161);
}
#nav_bottom{
	height:55px;
	width:100%;
	border-bottom:4px solid rgb(181,181,181);
	border-top:1px solid rgb(181,181,181);
	margin-bottom:-4px;
}
#nav_bottom_div{
	width:200px;
	height:50px;
	line-height:50px;
	background-color: rgb(49,49,49);
	color:white;
}
#nav_bottom_a{
	color:white;
	font-size:22px;
}
#nav_bottom_a_1{
	font-size:18px;
	padding-left:15px;
	padding-right:15px;
	color:rgb(150,150,150);
}
#nav_bottom_a_2{
	color:rgb(255,240,0);
	font-size:18px;
	padding-left:15px;
}
#nav_bottom_right_div{
	width:100%;
}
#nav_bottom_right_ul{
	list-style: none;
}
#nav_bottom_right_ul li{
	display:inline-block;
	line-height:50px;
	padding:0 25px;
}
#nav_bottom_right_ul li a{
	font-size:18px;
	color:rgb(95,95,95);
}
#index_slide{
	height:390px;
	margin-top:4px;
	background-color:rgb(242,223,206);
}
.main_header{
	height:90px;
	padding-top:20px;
	padding-bottom:20px;
}
.main_item_div{
	margin-top:30px;
}
.main_item_img_div{
	border-top:1px solid rgb(241,241,241);
	border-left:1px solid rgb(241,241,241);
	border-right:1px solid rgb(241,241,241);
}
.main_item_text_div{
	padding:10px 10px;
	color:rgb(95,95,95);
	border-left:1px solid rgb(241,241,241);
	border-right:1px solid rgb(241,241,241);
	border-bottom:1px solid rgb(241,241,241);

}
.main_header_hr{
	display:inline-block;
	width:42%;
}
.main_header_text{
	display:inline-block;
	width:15%;
	height:50px;
	line-height: 50px;
	font-size:30px;
	text-align:center;
}
.main_item_text_price{
	font-size:20px;
	color:rgb(68,189,161);
}
.search_star{
	color:rgb(255,204,0);
}
.no-score{
	color:rgb(213,213,213);
}
.main_item_text_review{
	height:30px;
}

#detail_div_1{
margin-top:70px;
}
#detail_tabs li.active a{
	background-color:white;
	color:rgb(123,123,123);
	border-top:1px solid rgb(123,123,123);
	border-left:1px solid rgb(123,123,123);
	border-right:1px solid rgb(123,123,123);
}
#detail_tabs li a{
	color:white;
	background-color:rgb(123,123,123);	
}

#footer{
	height:150px;
	width:100%;
	background-color:#eee;
	margin-top:30px;
	font-size:20px;
	color:#bbb;
	padding-top:50px;
	text-align:center;
}
#footer_logo{
	font-size:25px;
}

#detail_div_1_right_top{
	border-bottom:1px solid rgb(229,229,229);
}
#detail_div_1_right_middle{
	height:90px;
}
#detail_div_1_right_bottom{

}

#detail_brand{
	font-size:16px;
	color:rgb(95,95,95);
}
#detail_title{
	color:rgb(95,95,95);
	font-size:25px;
	font-weight:bold;
}

.detail_div_1_right_head_div{
	display:inline-block;
	width:13%;
	font-size:20px;
	color:rgb(95,95,95);
}
.detail_div_1_right_body_div{
	display:inline-block;
	width:86%;

}
#detail_price{
	font-size:40px;
	color:rgb(68,189,161);
}
#detail_comparison_head{
	vertical-align: top;
}

#detail_comparison_table{
}
#detail_comparison_table tr th{
	background-color:rgb(238,238,238);
	border:none;
}
#detail_comparison_table td{
	border:none;
}
.detail_td2, .detail_td3{
	width:130px;
}
.detail_td1, .detail_td2, .detail_td3{
font-size:20px;
}

#explain table{
	width:980px;
	margin:0 auto;
}
#explain table tbody tr:first-child{
	border-top:2px solid rgb(38,38,38);
}
#explain table tr td:first-child{
background-color: rgb(247,247,247);
width:240px;
padding-left:20px;
}
#explain, #review, #relation{
	min-height:500px;
}


#accounts_div{
	height:600px;
	background-color:rgb(85,111,181);
	padding-top:50px;
	padding-bottom:50px;
}
#signup_inner_div{
	height:100%;
	background-color: rgb(238,241,248);
	width:1000px;
	margin:0 auto;
}


.signup_addon{
	width:120px;
	height:50px;
	font-size:24px;
}

#signup_addon1{
	padding-right: 40px;
}

#signup_form_email, #id_password1, #id_password2{
	width:300px;
	height:50px;
	font-size:24px;
}

#signup_checkbox_div{
	font-size:24px;
	padding-left:290px;
}
#agreement_label{
	color:rgb(68,189,161);
}

#signup_submit{
	width:420px;
	height:50px;
	line-height:50px;
	padding:0;
	font-size:30px;
	background-color:rgb(68,189,161);
	color:white;
	border:none;
}
#signup_inner_left_div,#signup_inner_right_div{
	padding:40px;
}

#signup_agreement_textarea{
	width:100%;
	height:350px;
}

#login_div{
	background-color:rgb(238,241,248);
	height:500px;
	padding:40px;
}

.login_addon{
	width:120px;
	height:50px;
	font-size:24px;
	background-color: rgb(191,191,191);
	color:white;
}
#login_user_icon{
	margin:0 3px;
}
#login_pw_icon{
	margin:0 4.5px;
}
#id_username, #id_password{
	width:450px;
	height:50px;
	font-size:24px;
}
#login_submit{
	width:100%;
	height:50px;
	line-height:50px;
	color:white;
	font-size:30px;
	padding:0;
	background-color:rgb(68,189,161);
}
#login_checkbox_left label{
	font-size:18px;
}
#login_checkbox_right{
	margin:10px 0;
	font-size:18px;
}
#signup_btn{
	font-size:24px;
}
#signup_btn_i{
	font-size:30px;
	font-weight:bold;
}
#mypage_div_1{
	margin-top:60px;
}
.fa-10x{
	font-size:10em;
}
#mypage_div_1_left{
	text-align:center;
}
#mypage_user_icon{
	width:170px;
	height:170px;
	line-height:170px;
	border:3px solid rgb(238,238,238);
	color:rgb(238,238,238);
}
#mypage_div_1_right{
	border:3px solid rgb(238,238,238);
	height:170px;
	padding:0;
}
#mypage_div_1_right_1{
display:inline-block;
width:421px;
height:130px;
padding-left:50px;
margin-top:20px;
color:rgb(80,80,80);
border-right:3px solid rgb(238,238,238);
}
#mypage_div_1_right_1 h2{
	padding-top:10px;
}
#mypage_div_1_right_2{
display:inline-block;
width:270px;
text-align:center;
vertical-align: middle;
margin-bottom:30px;
border-right:3px solid rgb(238,238,238);
}
#mypage_div_1_right_3{
display:inline-block;
width:270px;
text-align:center;
vertical-align: middle;
margin-bottom:30px;
}
#point_num{
	color:rgb(235,97,0);
}
.mint_box{
	background-color: rgb(68,189,161);
	border-radius:3px;
	width:20px;
	height:20px;
	color:white;
	display:inline-block;
	text-align:center;
}
#mypage_div_2_left{
}
#mypage_div_2_right{
	padding: 0;
}
#mypage_div_2_right_1{
	border:3px solid rgb(238,238,238);
	height:540px;
	padding:40px;
}
#mypage_div_2_right_2{
	border:3px solid rgb(238,238,238);
	height:540px;
	padding:40px;
}
#mypage_div_2_left_inner{
	width:170px;
	height:1121px;
	background-color:rgb(91,91,91);
}
#mypage_div_2_left_inner ul{
	list-style: none;
	padding:20px;
}
#mypage_div_2_left_inner ul li a{
	line-height: 40px;
	font-size:16px;
	color:white;
}
.mypage_table thead{
	background-color:rgb(229,229,229);
}
.mypage_table tbody tr td{
	border:none;
	border-bottom:1px solid rgb(229,229,229);
}
.mypage_table thead tr th{
	border-bottom:none;
}
.mypage_table tbody tr{
	height:100px;
}
.th1{
	width:160px;
}
.th2{
	width:440px;
}
.th3{
	width:180px;
}
.th1, .th2, .th3, .th4{
	text-align:center;
}
.mypage_table .lh84{
	line-height:84px;
}
.mypage_thumbnail{
	width:70px;
	height:70px;
}
.mypage_item_img{
	width:70px;
	height:70px;
	display:inline-block;
}
.mypage_item_img img{
	vertical-align: bottom;
}
.mypage_item_text{
	display:inline-block;
	width:350px;
	height:70px;
	line-height:25px;
}

#brand_a{
	width:200px;
	margin-top:40px;
}
#signup_ok_div{
	margin-top:4px;
	padding-top:150px;
	padding-bottom:150px;
}